*{
    margin: 0%;
    padding: 0%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(72, 245, 245);
    
}
.form{
    background-color: crimson;
    width: 400px;
    padding: 15px;
    border: solid 2px;
    border-radius: 5px;
}
.form:hover{
    transition: all 0.3s;
    box-shadow: 2px 2px 2px 2px;
}
input , textarea{
    width: 350px;
    padding: 5px;
    margin: 6px 0px;
    border-radius: 5px;
}
#btn{
    width: 150px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    border: rgb(0, 253, 0);
    border-radius: 5px;
    background-color: rgb(0, 253, 0);
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
}
#btn:hover{
    color: aliceblue;
    transition: all 0.3s;
    border: rgb(3, 180, 3);
    background-color: rgb(3, 180, 3);
    box-shadow: 1px 1px 1px 1px;

}